<clickhouse>
  <!-- Конфигурация макросов. Используются в схемах таблиц ReplicatedMergeTree -->
  <macros>
    <!-- Название кластера. Используется для общих запросов на всех шардах кластера -->
    <cluster>monitor_cluster</cluster>
    
    <!-- Кол-во шард. Изменяем, если увеличилось кол-во шард -->
    <number_of_shards>2</number_of_shards>
    
    <!-- Уникальное имя реплики. Заполняем кратким FQDN хоста -->
    <host>{{ ansible_hostname }}</host>
    
    <!-- Номер шарды. Указываем с лидирующим нулем. Больше 10 шард не планировалось -->
    <shard>{{ group_names[0]|replace('sh', '0') }}</shard>
  </macros>
</clickhouse>

