<clickhouse>
    <users>
        <default>
            <profile>default</profile>
        </default>
        <inserts>
            <password_sha256_hex></password_sha256_hex>
            <profile>inserts</profile>
        </inserts>
    </users>
</clickhouse>
