<clickhouse>
    <users>
        <default>
            <profile>default</profile>
        </default>
        <inserts>
            <password_sha256_hex>ce42c54b1c0dc9c22cf29249dfd7c5d7526adf2e4c82e448a79b066b54e25b8a</password_sha256_hex>
            <profile>inserts</profile>
        </inserts>
    </users>
</clickhouse>
